#NODE_MODULES FOLDERS
#########################
/admin/node_modules
/server-admin/node_modules
/server-user/node_modules
/user/node_modules

#Local Gulp Modules
#########################
/server-admin/gulp
/server-admin/gulp.cmd
/server-user/gulp
/server-user/gulp.cmd

#Upload FOLDER
#########################
/server-admin/uploads/